<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [164]:
newdf = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [171]:
df[['Respondent']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398 entries, 0 to 11551
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Respondent  11398 non-null  int64
dtypes: int64(1)
memory usage: 436.1 KB

In [167]:
# your code goes here
count = 0
for i in newdf[['Respondent']].duplicated():
    if (i==True):
        count = count+1
print(count)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [95]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [96]:
# your code goes here
count = 0
for i in df.duplicated():
    if (i==True):
        count = count+1
print(count)

0

## Finding Missing values

Find the missing values for all columns.

In [106]:
# your code goes here
for i,j in enumerate(df.isnull().sum()):
    print(df.columns[i],"\t\t ",j)

Respondent 		  0
MainBranch 		  0
Hobbyist 		  0
OpenSourcer 		  0
OpenSource 		  81
Employment 		  0
Country 		  0
Student 		  51
EdLevel 		  112
UndergradMajor 		  737
EduOther 		  164
OrgSize 		  96
DevType 		  65
YearsCode 		  9
Age1stCode 		  13
YearsCodePro 		  16
CareerSat 		  0
JobSat 		  1
MgrIdiot 		  493
MgrMoney 		  497
MgrWant 		  493
JobSeek 		  0
LastHireDate 		  0
LastInt 		  413
FizzBuzz 		  37
JobFactors 		  3
ResumeUpdate 		  39
CurrencySymbol 		  0
CurrencyDesc 		  0
CompTotal 		  809
CompFreq 		  206
ConvertedComp 		  816
WorkWeekHrs 		  122
WorkPlan 		  121
WorkChallenge 		  164
WorkRemote 		  8
WorkLoc 		  32
ImpSyn 		  5
CodeRev 		  1
CodeRevHrs 		  2426
UnitTests 		  29
PurchaseHow 		  196
PurchaseWhat 		  38
LanguageWorkedWith 		  11
LanguageDesireNextYear 		  134
DatabaseWorkedWith 		  453
DatabaseDesireNextYear 		  1042
PlatformWorkedWith 		  411
PlatformDesireNextYear 		  544
WebFrameWorkedWith 		  1393
WebFrameDesireNextYear 		  1617
MiscTechWorkedWith 		  2182
MiscTechDesireNextYear 		  1455
DevEnviron 		  29
OpSys 		  34
Containers 		  82
BlockchainOrg 		  2322
BlockchainIs 		  2610
BetterLife 		  98
ITperson 		  35
OffOn 		  38
SocialMedia 		  293
Extraversion 		  20
ScreenName 		  507
SOVisit1st 		  325
SOVisitFreq 		  5
SOVisitTo 		  1
SOFindAnswer 		  3
SOTimeSaved 		  50
SOHowMuchTime 		  1917
SOAccount 		  1
SOPartFreq 		  1128
SOJobs 		  6
EntTeams 		  5
SOComm 		  0
WelcomeChange 		  85
SONewContent 		  1965
Age 		  287
Gender 		  73
Trans 		  123
Sexuality 		  542
Ethnicity 		  675
Dependents 		  140
SurveyLength 		  19
SurveyEase 		  14

Find out how many rows are missing in the column 'WorkLoc'

In [174]:
newdf["Country"].isnull().sum()

0

In [108]:
df["WorkLoc"].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

Identify the value that is most frequent (majority) in the WorkLoc column.

In [109]:
#make a note of the majority value here, for future reference
max_workloc_freq = df["WorkLoc"].value_counts().max()
df_workloc = pd.DataFrame(df[['WorkLoc']].value_counts())
df_workloc.rename(columns={"WorkLoc":"Work Location", 0:"Value Counts"}, inplace=True)

In [110]:
df_workloc.reset_index(inplace=True)

In [111]:
max_work_location = df_workloc[df_workloc["Value Counts"]==df_workloc["Value Counts"].max() ]['WorkLoc'][0]

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [112]:
import numpy as np

In [115]:
count = 0
for i in df["WorkLoc"]:
    if (i != "Home" and i != "Office" and i!="Other place, such as a coworking space or cafe"):
        count = count+1
print(count)

0

In [114]:
df["WorkLoc"] = df["WorkLoc"].replace({np.nan:max_work_location})

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [116]:
# your code goes here
df["WorkLoc"].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [117]:
# your code goes here
df["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [158]:
conditions = [(newdf['CompFreq']=="Yearly"),
             (newdf['CompFreq']=="Monthly"),
             (newdf['CompFreq']=="Weekly"),
             (newdf['CompFreq']==np.nan)]

In [156]:
values = [1, 12, 52, 0]

In [159]:
df["helpNormalize"] = np.select(conditions,values)
df["helpNormalize"]

0         1
1         1
2         1
3        12
4         1
         ..
11547     1
11548     1
11549     1
11550     1
11551     0
Name: helpNormalize, Length: 11398, dtype: int64

In [160]:
df["NormalizedAnnualCompensation"] = df["helpNormalize"]*df["CompTotal"]
df["NormalizedAnnualCompensation"]

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [163]:
df[["CompTotal", "CompFreq","NormalizedAnnualCompensation" ]].head(20)

    CompTotal CompFreq  NormalizedAnnualCompensation
0     61000.0   Yearly                       61000.0
1    138000.0   Yearly                      138000.0
2     90000.0   Yearly                       90000.0
3     29000.0  Monthly                      348000.0
4     90000.0   Yearly                       90000.0
5      9500.0  Monthly                      114000.0
6      3000.0  Monthly                       36000.0
7    103000.0   Yearly                      103000.0
8     69000.0   Yearly                       69000.0
9      8000.0  Monthly                       96000.0
10     7000.0  Monthly                       84000.0
11   114000.0   Yearly                      114000.0
12     2000.0   Weekly                      104000.0
13    22000.0   Weekly                     1144000.0
14    96000.0  Monthly                     1152000.0
15   156000.0   Yearly                      156000.0
16    18000.0   Yearly                       18000.0
17     6400.0  Monthly                       76800.0
18     5000.0  Monthly                       60000.0
19   400000.0   Yearly                      400000.0

In [179]:
df["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [180]:
df["NormalizedAnnualCompensation"].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).